<footer>
    <div class="container">
            <div class="row">
            <div class="col-4 col-sm">
                <p class="font-weight-bold">Connectについて</p>
                <p><%= link_to 'Connectとは？' , about_path %></p>
                <p><%= link_to 'よくある質問' , '#' %></p>
                <p><%= link_to 'お問い合わせ' , '#' %></p>
            </div>

            <div class="col-4 col-sm">
                <p class="font-weight-bold">運営情報</p>
                <p><%= link_to '運営者情報' , '#' %></p>
                <p><%= link_to '利用規約' , '#' %></p>
                <p><%= link_to '個人情報の取り扱いについて' , '#' %></p>
            </div>

            <div class="col-4 col-sm">
                <p class="font-weight-bold">経営理念</p>
                <p><%= link_to 'Mission' , '#' %></p>
                <p><%= link_to 'Philosophy' , '#' %></p>
            </div>
        </div>
    </div>
</footer>
