 <header>
        <div class="header-logo"><%= link_to("Connect" , "/")%></div>
            <div class="header-list">
                <ul>
                <%= link_to("Connectとは" , "/about")%>
                <%= link_to("登録する" , "#")%>
                <%= link_to("投稿一覧" , posts_path)%>
                <%= link_to("新規投稿" , new_post_path)%>
                </ul>
            </div>
</header>