<!DOCTYPE html>
<%# ここに記述した内容は全てのviewに適用される %>
<html lang="ja">
  <head>
    <meta charaset="utf-8">
    <title>connect</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
      <div id = "container">
          <header>
            <%= render "shared/header"%>
          </header>

          <% if flash[:notice] %>
            <p class = "notice"><%= flash[:notice]%></p>
          <% end %>

          <main>
          <%= yield %>
          </main>

          <footer>
            <%= render "shared/footer"%>
          </footer>
      </div>
  </body>
</html>
